.productArticle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.articleImageContainer {
  position: relative;
  aspect-ratio: 16 / 18;
  width: 100%;

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.articleDetails {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  & h1 {
    color: rgb(68, 66, 66);
    font-size: clamp(0.8rem, 1vw + 0.3rem, 1rem);
    font-weight: 600;
  }
  & .categoryName {
    color: rgb(94, 93, 93);
    font-size: 0.9rem;
  }
  & span {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  & .price {
    font-size: clamp(0.8rem, 1vw + 0.6rem, 1.1rem);
    font-weight: 700;
  }
}

@media (max-width: 778px) {
  .articleDetails {
    & .categoryName {
      font-size: 0.8rem;
    }
    
    & span {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 430px) {
  .articleDetails {
    gap: 0.1rem;

    & .categoryName {
      font-size: 0.7rem;
    }

    & span {
      font-size: 0.6rem;
    }
  }
}
