.addIconContainer {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #5700ae;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  z-index: 899;
}
